:root{
--main-color: #1090CB;
--blue-color:#E8F4FA;
--blue-color2:#E2F3FF;
--darkBlue-color: #00329B;
--darkblack-color: #252525;
--black-color:#000;
--black-color2:#333;
--white-color:#fff;
--white-color2:#F4F4F4;
--white-color3:#FFF2F2;
--gray-color: #C4C4C4;
--gray-color2:#5C5C5C;
--gray-color3:#969696;
--gray-color4:#C7C7C7;
--gray-color5: #868686;
--gray-color6:#545454;
--gray-color7: #515151;
--gray-color8:#d2d2d2;
--gray-color9:#686868;
--gray-color10:#585858;
--gray-color11: #424242;
--gray-color12: #777;
--purple:#EFEAFF;
--purple2:#DAE6FF;
--purple3: #2E0D64;
--purple4:#F1E8FF;
--purple5: #FFE7FB;
--purple6: #9208D3;
--green:#ECFFDA;
--green2: #08D3BB;
--brown:#FFE5DA;
--brown2:#F5F3DA;
--red:#f00;
}
    