@import url(global/reset.css);
@import url(global/variable.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.title{
    width: 40%;
}
.title h1{
    color:var(--main-color);
font-family: Poppins;
font-size: 29px;
font-weight: 700;
line-height: normal;
margin-left: 32px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid var(--gray-color);
}
.menu{
    width: 30%;
}
.menu_item{
    
    display: flex;
 gap: 70px;
}

.menu_item .list_item .list_el {
    color:var(--black-color);
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: normal;
}
.list_item:nth-of-type(even) .list_el{
    color: var(--main-color);
   position: relative;
}
.list_item:nth-of-type(even) .list_el::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: aquamarine;
    position: absolute;
    left: -10px;
    top: -3px;
    border-radius: 50%;
    transition: all 1s;
    animation: animate  1s linear infinite;
    
}
@keyframes animate{
    0%{
        transform: translateY(2px);
      }
      100%{
        transform: translateY(-2px);
      }
}
.menu_btn{
    
font-family: Poppins;
font-size: 13px;
font-weight: 400;
line-height: normal;
border: none;
width: 125px;
height: 41px;
flex-shrink: 0;
border-radius: 6px;
background: var(--main-color);
margin-right: 30px;
}
.menu_btn .contact_btn{
    color: var(--white-color);
}
/* !header finished */
.about_info{
    display: flex;
    flex-direction: column;
height: auto;
justify-content: center;
align-items: center;
gap: 60px;
}
.container_about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 200px;
}
.about_img{
    width: 50%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.about_img div img{
    width: 100%;
    
}
.about_title{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: 20px;
}
.carusel_about{
    color: var(--main-color);
font-family: Poppins;
font-size: 25px;
line-height: normal;
padding-bottom: 40px;
}
.rec_16{
    display: flex;
    align-self: flex-end;
}
.about_desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
gap: 36px;
}
.about_desc h2{
    color: var(--darkblack-color);
font-family: Poppins;
font-size: 40px;
font-weight: 600;
line-height: 170%; /* 68px */
}
.lorem_desc{
    color: var(--gray-color5);
font-family: Poppins;
font-size: 18px;
line-height: 175%; /* 31.5px */
}
.icon_vector{
    width: 10%;
    /* position: relative; */
}
.icon_vector img{
    position: absolute;
    right: -24px;
    top: -270px;
}

.about_title{
    width: 44%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  
}
.img_about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    position: relative;
}

.vector_4{
    position: absolute;
    top: -70px;
    left: -140px;
}

.info_section{
    display: flex;
     flex-direction: column;
    /* align-items:center ; */
     justify-content: space-evenly;
    margin-top: 220px; 
    gap: 48px;
 margin-left: 120px;
   
}
/* .info_container{ */
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 48px;
    height: auto; */
   
/* } */
.info_container h4{
    color: var(--main-color);
font-family: Poppins;
font-size: 45px;
font-weight: 600;
line-height: 160%; /* 72px */
}

 .kod_tech p{
    color: var(--gray-color9);
font-family: Poppins;
font-size: 20px;
line-height: 200%; /* 40px */

}
.contact_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}
.contact_desc{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 34%;
    margin-left: 120px;
  
}
.cont_desc{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.desc_php{
    color: var(--black-color);
font-family: Poppins;
font-size: 30px;
font-weight: 600;
line-height: 160%; /* 48px */
}
.php_desc{
    color: var(--gray-color10);
font-family: Poppins;
font-size: 20px;
line-height: 200%; /* 40px */
}
.butn button{
    width: 193px;
height: 51px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid var(--main-color);
background-color: var(--white-color);
color: var(--main-color);
font-family: Poppins;
line-height: 204.3%; /* 32.688px */
}

.programs {
    height: 395px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 50%;
    background-color: var(--white-color);
box-shadow: 0px 4px 124px 0px rgba(0, 0, 0, 0.10);
gap: 54px;

}

.programs div{
    gap: 22px;
}
.app_container,.mob_container,.seo_container,.arvr_container{
    width: 91px;
height: 90px;
flex-shrink: 0;
border-radius: 20px;

}
.programs img{
    margin: 22px 22px;
}
.app_container{ background-color: var(--white-color3); }
.mob_container{ background-color: var(--purple4); }
.seo_container{ background-color: var(--blue-color2); }
.arvr_container{ background-color: var(--purple5); }

.division,.division2,.division3,.division4{
    display: flex;
    align-items: center;
  padding-top: 54px;
}
.programs p{
    color: var(--purple3);
text-align: center;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 177.9%; /* 44.475px */
letter-spacing: 0.25px;
}
/* !footer */
footer{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 200px;
   }
   .foot_start{
    position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    height: 534px;
    gap: 80px;
    background-color: var(--blue-color);
   }
   .star{
    position: absolute;
    top: -40px;
    left: 50px;
   }
.ques_{
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
position: relative;
}
.icon_ques{
    position: absolute;
right: -40px;
top: -30px;
}
.foot_desc{
    color: var(--darkblack-color);
text-align: center;
font-family: Poppins;
font-size: 30px;
font-weight: 600;
line-height: 170%; /* 51px */
}
.email{
    width: 532px;
height: 67px;
flex-shrink: 0;
border: none;
    border-radius: 10px;
background: var(--white-color);
display: inline-block;
margin-right: 14px;
}
.email::placeholder{
    color: #787878;
padding: 20px;
font-family: Poppins;
line-height: 170%; /* 27.2px */
}
.sub{
    color: var(--white-color);
    width: 173px;
height: 67px;
flex-shrink: 0;
border-radius: 10px;
background: var(--black-color);
box-shadow: 0px 4px 84px 0px rgba(0, 0, 0, 0.07);

}

.foot_end{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   margin-top: 82px;
  
}
.log_con{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    width: calc(100%/4);
}
.desc_logo{
    color: var(--darkBlue-color);
font-family: Poppins;
font-weight: 700;
line-height: normal;}
.prg{
    color:var(--gray-color7);
font-family: Poppins;
line-height: normal;}

.descin_fo{
    color: var(--black-color);
font-family: Poppins;
font-size: 17px;
font-weight: 500;
line-height: normal;
padding-bottom: 15px;
}
.end_2,.social{
    width: calc(100%/6);
}
.end_2 ul li {
    display: block;
    padding: 4px;
}
.social{
    gap: 16px;
    display: flex;
    align-self: flex-end;
}
.social .fb,.instagram,.twit,.linkedin{
    box-shadow: 1px 1px 1px 1px rgba(107, 107, 107, 0.2);
    border-radius: 50%;
    width: 34px;
height: 34px;
flex-shrink: 0;
background-color:var(--white-color);

}
.social .fb,.instagram,.twit,.linkedin img{
    padding: 12px;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-top: 1px solid var(--gray-color9);
    margin-top: 56px;
}
.copyright_desc{
    padding-top: 24px ;
    color: var(--gray-color9);
font-family: Poppins;
font-size: 13px;
line-height: 190.6%; /* 24.778px */
}




















